@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.finallybutton {
  margin: 15px 10px;
  padding: 5px;
  display: inline-block;
  border-radius: 4px;
  background-color: #2b365f;
  color: #fafafa;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.03em;
}

.finallybutton svg circle {
  stroke: #fafafa;
  &:hover {
    fill: #fafafa;
  }
}
.finallybutton svg line {
  stroke: #fafafa;
  &:hover{
    stroke: #2b365f;
  }
}

.finallybutton--voted {
  svg circle {
    fill: #fafafa;
  }
  svg line {
    stroke: #2b365f;
  }
}

.finallybutton svg {
  margin-right: 5px;
  float: left;
}
.finallyvote {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  padding: 9px 30px 7px 10px;
  margin: 10px;
  background-color: #fff;
  max-width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1000;
}

.finallyvote__value {
  display: inline-block;
  text-align: center;
  min-width: 40px;
  margin: 0;
}
.finallyvote__close {
  position: absolute;
  transform-origin: center;
  transform: rotate(45deg);
  bottom: 5px;
  right: 7px;
  font-size: 28px;
}

.finallyvote__btn {
  display: inline-block;
  border-radius: 50%;
  height: 27px;
  text-align: center;
  line-height: 26px;
  text-decoration: none;
  margin: 0 2px;
  cursor: pointer;

  &:hover svg circle {
    fill: #2b365f;
  }
  &:hover svg line {
    stroke: #fafafa;
  }
}

.finallyvote__btn svg {
  transform: translateY(3px);
}
.finallyvote__close {
  cursor: pointer;
}
.finallyvote__slider  {
  width: 80px;
  margin: 0 5px;
}
