
.nav__logo {
  width: 107px;
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: 1000;
}

.nav {
  text-align: right;
  padding: 20px;
  color: $brand-primary;
}
.nav--alt {
}

.nav__link {
  margin: 10px;
  display: inline-block;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 14px;
  color: #fff;
  padding: 3px 6px;

  &:hover {
    color: $brand-alt;
    background-color: $brand-primary;
    padding: 3px 6px;
    border-radius: 5px;
    transition: all 100ms ease-in;
    text-align: center;
  }
}
.nav__link--alt {
  color: $brand-primary
}
.nav__divider {
  color: #fff;

}
.nav__divider--alt {
  color: $brand-primary
}

.nav__steemconnect {
  margin: 10px;
  // position: absolute;
  // top: 20px;
  // right: 20px;
  // z-index: 1000;
}
