nav.nav
  a.nav__link(href="/about") About
  span.nav__divider
  a.nav__link(href="/get-started") Get Started
  span.nav__divider
  a.nav__link(href="/news") News

  a.steem-connect-cta.button.is-small.is-dark(href="/auth/dashboard") Login With Steemconnect
