extends layout
block content

  p Finally comments is an embedable comments system

  p runs on steem blockchain

  p steem blockchain generates rewards

  p rewards are distributed via stake based voting (the bigger your stake the more powerful your votes)

  p authors and comments have the chance to be reward by users of the platform


  p FAQ

  li what is this?
  li who is it for?
  li who makes finally Comments?
  li can I see it in action?
  li how do I get Started?
  li Can I use finally on wordpres?
  li Who controls the content?
  li is it free?
  li how do you make money?
  li Is finally comments replacing Steemit and busy?
  li


  p ROADMAP
