extends layout

block content
  header
    .container
        h1.title Dashboad

  main.dashboard(data-username=`${name}`)
    section.dashboard__hero
      .container
        .button.is-link Generate new thread

    section.dashboard__table
      .container
        table.table.is-bordered.is-striped.is-fullwidth
          thead
            tr
              th Comments
              th Permalink/ID
              th Embed
          tbody
          
