doctype html
html
  head
    title Finally Comments System
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if path == 'thread' ||  path == 'finally-button-embed'
      link(rel='stylesheet', href='/thread.css')
    else
      link(rel="stylesheet" href="https://use.typekit.net/iqb0qug.css")
      link(rel='stylesheet', href='/default.css')

  body
    block content

    if path == 'thread'
      script(src="/thread.js")
    else if path == 'finally-button-embed'
      script(src="/finally-button.js")
    else
      script(src="/default.js")
