doctype html
html
  head
    title Finally Comments System
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if path == 'thread'
      link(rel='stylesheet', href='/thread.css')
    else
      link(rel='stylesheet', href='/default.css')

  body
    block content

    if path == 'thread'
      script(src="/thread.js")
    else
      script(src="/finally.js")
      script(src="/default.js")
