extends layout
block content
  p Page linking internally to single blog style posts pulled from blockchain

  li: a.content-link(href="/post/quick-update-on-finallycomments-v0-7-1") V0.7.1 - Update Thread Sign-in Flow to use a popup
  li: a.content-link(href="/post/finally-comments-api-and-new-dashboard-features") V0.7.0 - API & New Dashboard Features 💬
  li: a.content-link(href="/post/finally-comments-custom-non-steem-threads") V0.6.0 - Custom/Non-STEEM Threads
  li: a.content-link(href="/post/finally-comments-dashboard-and-1-click-embed-code") V0.5.0 - Dashboard & 1-click Embed Code
  li: a.content-link(href="/post/finally-comments-sorting-comments-and-fixes") V0.4.0 - Sorting Comments & Fixes
  li: a.content-link(href="/post/finally-comments-v0-3-0-new-ui-features-and-embed-customisation-options") V0.3.0 - New UI Features & Embed Customisation Options
  li: a.content-link(href="/post/finally-a-comments-system-that-rewards-its-authors-steemcomments-js-got-an-upgrade") V0.2.0 - Finally. Steemcomments.js got an upgrade!
  li: a.content-link(href="/post/introducing-steemcomments-js-add-steem-comments-to-any-website-or-blog") V0.1.0 - Introducing SteemComments.js - Add Steem Comments To Any Website or Blog
