@import url('https://fonts.googleapis.com/css?family=Sanchez');
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
    color: #2167ef;
}
.sc-cf:after {
  display: block;
  content: "";
  clear: both;
}
.sc-section {
  font-family: 'Sanchez', serif;
}
.sc-comments {
  padding: 15px 0;
}
.sc-topbar__rule {
  border: none;
  margin: 0 auto 10px auto;
  border: solid 2px #eaeaea;
}
.sc-topbar {
  position: relative;
  margin-top: 25px;
  padding: 0 0 10px;
}

.sc-profile {
  color: #757575;
  float: right;
  font-size: 14px;
}
.sc-profile--true {

}
.sc-profile--false {
  display: none;
}

.sc-login {
  float: right;
  background-color: #6eafff;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}
.sc-login:hover {
  text-decoration: none;
  color: #fff;
}

.sc-login--true {
  display: none;
}

.sc-profile__image {
  border: solid 3px #ccc;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  float: right;
}
.sc-profile__name {
  font-size: 14px;
  float: left;
  line-height: 35px;
  margin: 0;
  margin-right: 15px;
  cursor: pointer;
}

.sc-settings {
  position: absolute;
  top: 40px;
  right: 5px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  border-radius: 3px;
  border: solid 1px #dedede;
}

a.sc-settings__logout {
  color: #2167ef;
  text-decoration: none;

}

.sc-topbar__count {
  color: #757575;
  float: left;
      margin-top: 5px;
}
.sc-topbar__upvote {
  float: left;
  display: inline-block;
  margin: 0;
  height:  30px;
  cursor: pointer;
      margin-top: 5px;
}
.sc-topbar__upvote svg circle {
  transition: all 200ms;
}
.sc-topbar__upvote:hover svg circle {
}

.sc-item__upvote--voted-true svg circle {
  fill: #525252;
  stroke: #525252;
}
.sc-item__upvote--voted-true svg line {
  stroke: #fff;
}

.sc-topbar__rule + .sc-comment__container  {
  padding: 0 15px;
}
.sc-topbar__reply {
  float: left;
  display: inline-block;
  cursor: pointer;
  color: #000;
  padding: 0 10px;
      margin-top: 5px;
}
.sc-close {
  cursor: pointer;
}
.sc-item {
  padding: 0 15px 10px;
  float: left;
  width: 100%;
}

.sc-item__level-2 {
  margin-left: 20px;
}
.sc-item__level-3 {
  margin-left: 20px;
}

.sc-item__left {
  float: left;
  min-width: 50px;
}
.sc-item__right {
  float: left;
  padding: 0 20px;
  width: calc(100% - 50px)
}
@media (max-width: 480px){

  .sc-item__level-2,
  .sc-item__level-3 {
    margin-left: 5px;
  }
  .sc-item__right{
    float: none;
    width: 100%;
    padding: 0;
  }
  .sc-item__left{
    float: none;
  }
}

.sc-item__image {
  border-radius: 50%;
  border: solid 2px #ccc;
}
.sc-item__username {
  margin: 0 0 10px 0
}
.sc-item__author-link {
  display: inline-block;
  padding: 3px 6px;
  transform: translateX(-6px);
  border-radius: 10px;
  text-decoration: none;
  color: #0e0e0e;
  font-size: 17px;
  transition: all 200ms;
}
.sc-item__author-link:hover {
  background: rgba(141, 205, 243, 0.2)
}

.sc-item__reputation {
  font-size: 13px;
  display: inline-block;
  transform: translateX(-6px);
}


.sc-item__middot {
  padding: 0 4px 0 0px;
}
.sc-item__datetime {
  color: #777;
  font-style: italic;
  font-size: 13px;
}
.sc-item__content {
  margin: 0 0 10px 0;
}
.sc-item__meta {
  font-size: 13px;
  color: #868686;
  margin-bottom: 20px;
}

.sc-item__divider {
  display: inline-block;
  margin: 0 10px;
}
.sc-item__reply,
.sc-item__upvote {
  cursor: pointer;
}

  .sc-item__upvote svg {
      transform: translateY(4px);
  }

 /*INPUT*/
 .sc-comment__container {
  position: relative;
  padding: 20px 0;
 }
.sc-comment__username {
  width: 200px;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
}
.sc-comment__message {
  width: 100%;
  margin-bottom: 20px;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 10px;
  height: 100px;
  resize: vertical;
}

.sc-comment__btn {
  display: inline-block;
  margin: 0 10px 10px 0;
  cursor: pointer;
  background: #3a4050;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  padding: 5px 10px;
  text-decoration: none;
}
a.sc-comment__btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #16191f;
}
.sc-vote {
  position: absolute;
  padding: 20px 40px 20px 20px;
  background-color: #fff;
  max-width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  z-index: 1000;
}
.sc-vote__close {
  position: absolute;
  transform-origin: center;
  transform: rotate(45deg);
  bottom: 2px;
  right: 0;
  font-size: 50px;
  padding: 5px 10px;

}
.sc-vote__username {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  border: none;
  border: solid 1px #ccc;
  padding: 10px;
}
.sc-vote__username:focus {
  outline: none;
}
.sc-vote__value {
  display: inline-block;
  width: 50px;
  text-align: center;
}
.sc-vote__btn {
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 26px;
  text-decoration: none;
}
.sc-vote__btn svg {
  transform: translateY(8px);
}

.sc-vote__slider {
  width: 150px;
}

.sc-comments input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
}
.sc-comments input[type=range]:focus {
  outline: none;
}
.sc-comments input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #ccc;
  border-radius: 25px;
  border: 0px solid #fafafa;
}
.sc-comments input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4f79ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
.sc-comments input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
.sc-comments input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #ccc;
  border-radius: 25px;
  border: 0px solid #fafafa;
}
.sc-comments input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4f79ff;
  cursor: pointer;
}
.sc-comments input[type=range]::-ms-track {
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
.sc-comments input[type=range]::-ms-fill-lower {
  background: #ccc;
  border: 0px solid #fafafa;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.sc-comments input[type=range]::-ms-fill-upper {
  background: #ccc;
  border: 0px solid #fafafa;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.sc-comments input[type=range]::-ms-thumb {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4f79ff;
  cursor: pointer;
}
.sc-comments input[type=range]:focus::-ms-fill-lower {
  background: #ccc;
}
.sc-comments input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

.sc-notification {
  margin-bottom: 30px;
  color: #2167ef;
}
