$brand-primary: #2b365f;
$brand-alt: #eff6fd;
$brand-contrast: #ffb94f;

@import "partials/nav";
@import "partials/footer";

@import "views/blog";
@import "views/pages";
@import "views/dashboard";

body {
  font-family: "brandon-grotesque", sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.cf {
  content: "";
  display: table;
  clear: both;
}

.is-brand {
  background-color: $brand-primary;
  color: #fff;
  &:hover {
    background-color: darken($brand-primary, 5%);
    color: #fff;
  }
}
