$brand-primary: #2b365f;
$brand-alt: #eff6fd;
$brand-contrast: #ffb94f;

@import "partials/nav";
@import "views/single";

body {
  font-family: "brandon-grotesque", sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.cf {
  content: "";
  display: table;
  clear: both;
}
.is-brand {
  background-color: $brand-primary;
  color: #fff;
  &:hover {
    background-color: darken($brand-primary, 5%);
    color: #fff;
  }
}
.hero__tagline {
  line-height: 1;
  text-align: center;
  margin: 150px 0 50px;
  font-weight: 500;
  font-size: 3rem;
}

.hero__links {
  margin:  50px 0 250px;
  text-align: center;
}

.hero__links .button {
  display: inline-block;
  margin-right: 15px;
}
.button {
  letter-spacing: 1px;
  font-weight: 500;
}


// a.content-link {
//   color: $brand-primary;
//   border-bottom: solid 2px #01d1b2;
// }
// a.content-link:hover {
//   color: #01d1b2;
//   border-bottom: solid 2px transparent;
//
// }
// .button.is-info {
//   background-color: #212121;
//   color: #fff;
// }
// .button.is-info:hover {
//   background-color: #010101;
// }
// .news .content-link {
//   margin: 0 auto 20px;
//   display: inline-block;
// }
// .button.is-primary {
//   background-color: #2b365f;
//   &:hover {
//     background-color: #303b65;
//   }
// };
//

#intro  {
  padding: 160px 0;
  transform: skewY(2.5deg) translateY(30px);
}
#get-started  {
  padding-top: 160px;
}

#intro .strip__inner {
  transform: skewY(-2.5deg);
}

.strip__inner {
  @extend .container;
}

.strip {
  padding: 120px 0;
  margin: 0;
  font-size: 1.2rem;

  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  .button {
    margin-right: 15px;
  }
}

.strip__content {
  margin-bottom: 20px;
  font-weight: 500;
  @media(min-width: 600px){ max-width: 80%; }
}


.strip--brand {
  background-color: $brand-primary;
  color: #fafafa;
  .title {
    color: #fafafa;
  }
  .content-link {
   color: $brand-contrast;
   border-bottom: solid 2px  $brand-contrast;
 }
}

.strip--alt {
  background-color: $brand-alt;
  color: $brand-primary;
  .title, .content-link {
    color: $brand-primary;
  }
  .content-link {
   color: $brand-contrast;
   border-bottom: solid 2px  $brand-contrast;
 }
}

.strip--plain {
  background-color: #fff;
  color: $brand-primary;
  .title, .content-link {
    color: $brand-primary;
  }
  .content-link {
   color: $brand-contrast;
   border-bottom: solid 2px  $brand-contrast;
 }
}

section.intro,
.section.news {
  padding: 100px 0;
  background: #2b365f;
  color: #fff;
}

section.generate {
    padding: 100px 0
}

section.generate {
  background: #eff6fd;
}
section.generate p,
section.generate h3 {
  color: #fff;
  font-weight: 600;
}


footer {
  padding: 50px 15px;
  background-color: $brand-alt;
  @extend .cf;
  width: 100%;
}

.footer__callout {
  float: left;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding-left: 25px;
  a {
    color: $brand-primary;
    border-bottom: solid 2px  $brand-primary;
  }
}
.footer__social {
  float: right;
  text-align: center;
  a:first-of-type {
    transform: translateY(5px);
  }
  a {
    display: block;
    float: right;
    height: 35px;
    width: 35px;
    margin: 0 5px;
  }
  svg {
    max-width: 35px;
  }
}
/**/
.pane {
  display: none;
  padding: 30px 0;
}
.pane__default {
  display: block;
}
.dashboard {
  padding: 0 0 50px;
}

.new-thread__container {
  float: right;
  margin-bottom: 20px;
}

.dashboard td {
  vertical-align: middle;
  font-family: monospace;
}

.domains__submit,
.domains__entry,
.api-intro,
.refresh-auth,
.universal-embed,
.generator-intro,
.controls-container,
.generator,
.generator-controls {
  margin-bottom: 20px;
}


label.checkbox span {
  margin: 0 24px 0 8px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.overlay.--is-active {
  display: block;
}
.overlay__bg {
  width: 100vh;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255,255,255,0.8);
}

.overlay__content {
  padding: 30px;
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  background-color: #fff;
  box-shadow: 0 0 60px rgba(0,0,0,0.2)
}
.fullscreen-viewer {
  padding: 0;
  margin: 0;
}
