extends layout

block content
  header
    .container
      h1 Finally.
      h2 A comments system that <br> rewards authors.
      .header__links
        a.button.is-primary(href="#intro") Get Started
        a.button(href="#get-started") Learn More
    .finally-logo
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><defs><style>.cls-1{fill:#010101;}</style></defs><title>Artboard 1</title><path class="cls-1" d="M722.76,360.88H262.18c-30.3,0-55.55,24.31-55.55,53.48L183.39,542.75c0,29.17,25.25,53.48,55.55,53.48H489.44c21.21,0,40.4,40.84,50.5,67.09,10.1,24.31,16.16,36.95,31.31,36.95h0c9.09,0,55.55-4.86,87.87-104h40.4c30.3,0,55.55-24.31,55.55-53.48l23.24-128.39C778.31,385.19,753.06,360.88,722.76,360.88Zm2,181.87c0,13.61-11.11,24.31-25.25,24.31H649a23.78,23.78,0,0,0-14.14,9.72c-20.35,30.22-35.35,86.54-57.57,95.29-2-4.86-6.06-12.64-8.08-19.45-14.14-33.06-34.34-81.68-72.72-85.57H240c-14.14,0-25.25-10.7-25.25-24.31l23.24-128.39c0-13.61,11.11-24.31,25.25-24.31H723.77c14.14,0,25.25,10.7,25.25,24.31L725.78,542.75Z"/><path class="cls-1" d="M269.8,442.13h56.64l-3,14H283.4l-3.9,18.37h35.07l-2.93,13.88H276.57l-7.1,33.5H252.89Z"/><path class="cls-1" d="M336,521.91H319.39l17-79.89h16.58Z"/><path class="cls-1" d="M368.22,442h17.51l19.95,55.77L417.54,442H433.1l-17,79.89H399.44l-20.6-56.75-12,56.75H351.26Z"/><path class="cls-1" d="M471.53,442h18.86l11.33,79.89h-18.1l-1.68-16.42H452.5l-9,16.42H426.05Zm-11.6,49.7H480.2l-3.31-31.44Z"/><path class="cls-1" d="M528.82,442h16.69l-13.93,65.53h39.57l-3,14.36H511.85Z"/><path class="cls-1" d="M596.62,442h16.69l-13.93,65.53h39.57l-3,14.36H579.65Z"/><path class="cls-1" d="M699.81,442h18.92l-37.34,49.86-6.34,30H658.35l6.34-30-17-49.86h19.67l9.16,34.8Z"/></svg>


  main
    section.intro#intro
      .container
        h3.title How it Works
        p.sub-content Finally is an evolution of #[a.content-link() Steemcomments.js] and at its core uses the  #[a.content-link(src="https://steem.io") Steem blockchain] to provide posting and curation rewards to its users. Similar to other popular plug and play comment systems Finally requires only a single html tag while our javascript library &amp; backend system take care of the rest.
        br
        p.sub-content Finally uses #[a.content-link(src="https://steemconnect.com/") Steemconnect authentication] to allow users to post comments and upvotes directly, from anywhere Finally is embeded. Once authenticated with Finally users will not have to log in again when visiting other sites that also use Finally.

    section.generate#get-started
      .container
        .columns
          .column.is-half
            h3.title Get Started
            p.sub-content Generate embedable code using a Steemit, Busy or Utopian url.


            .generator
              .field.has-addons
                .control
                  input.input.generate-url(placeholder="url")
                .control
                  a.button.is-info.generate-embded(type="text") Create


            p.sub-content *Currently Finally only supports content already posted to the Steem network. Sites including Steemit, Busy or Utopian. Support for more sites (dmania/dsound/dtube/dlive) will be added shortly and in the comming weeks support for content outside of the Steem blockchain will be enabled.  - 03 FEB 18

          .column.is-half.embed-container


    section.example
      .container
        h3.title Finally The Comments Section
        .finally-comments(data-id="http://localhost:3000/thread/utopian-io/@sambillingham/introducing-steemcomments-js-add-steem-comments-to-any-website-or-blog")


  footer
    p Created by [Sam billingham]() for the [Steem Blockchain](h) ✌️
